%html
  %head
    = partial "header"
  
  %body{:class => "#{page_classes}"}= yield

  / jQuery (necessary for Bootstrap's JavaScript plugins) 
  %script{:src => "libs/jquery-2.1.1.min.js"}
  / Include all compiled plugins (below), or include individual files as needed 
  %script{:src => "libs/bootstrap/js/bootstrap.min.js"}

