%html
  %head
    = partial "header"    
    %script{:src => "https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js", :type => "text/javascript"}
    :javascript
      <!--
      var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
      if (document.location.protocol == 'https:')
      unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
      document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
      -->
    :javascript
      <!--
      var config = {
        width: 960, 
        height: 600,
        params: { enableDebugging:"0" }
        
      };
      var u = new UnityObject2(config);

      jQuery(function() {

        var $missingScreen = jQuery("#unityPlayer").find(".missing");
        var $brokenScreen = jQuery("#unityPlayer").find(".broken");
        $missingScreen.hide();
        $brokenScreen.hide();
        
        u.observeProgress(function (progress) {
            switch(progress.pluginStatus) {
                case "broken":
                    $brokenScreen.find("a").click(function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        u.installPlugin();
                        return false;
                    });
                    $brokenScreen.show();
                break;
                case "missing":
                    $missingScreen.find("a").click(function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        u.installPlugin();
                        return false;
                    });
                    $missingScreen.show();
                break;
                case "installed":
                    $missingScreen.remove();
                break;
                case "first":
                break;
            }
        });
        u.initPlugin(jQuery("#unityPlayer")[0], "DecisionFlexDemo.unity3d");
      });
      -->
    :css
      <!--
      div#unityPlayer {
        cursor: default;
        height: 600px;
        width: 960px;
        margin-left: auto ;
        margin-right: auto ;
      }
      -->
  
  %body{:class => "#{page_classes}"}= yield

  / jQuery (necessary for Bootstrap's JavaScript plugins) 
  %script{:src => "libs/jquery-2.1.1.min.js"}
  / Include all compiled plugins (below), or include individual files as needed 
  %script{:src => "libs/bootstrap/js/bootstrap.min.js"}

