%hr.hidden-xs
.row.hidden-xs
  .col-xs-12
    %iframe.center-block{:src => "//itch.io/embed/14387",
                         :width => "552", :height => "167",
                         :frameborder => "0"}
    %p
%hr.hidden-xs
.alert.alert-info.hidden-sm.hidden-md.hidden-lg
  .row
    .col-xs-8
      %p.lead.center-block
        Buy the beta version of DecisionFlex at itch.io, recieve future updates for free    
    .col-xs-4
      %a.btn.btn-large.btn-primary.btn-block{:href => "http://tenpn.itch.io/decisionflex", :role => "button"}
        Buy &raquo;

