.row
  .col-md-6.col-md-push-3.col-sm-8.col-sm-push-2.col-xs-12
    .panel.panel-success
      .panel-heading
        %h3.panel-title.text-center
          Buy Decision<em>Flex</em> $45
      .panel-body
        %p
          Buy direct and recieve future updates for free.
        %p
          If you'd prefer, you can buy on <a href="http://u3d.as/content/ten-pn/decision-flex">the Asset Store</a>.
        .text-center
          %a.btn.btn-large.paddle_button{:href => "#", "data-product" => "496269", :role => "button"}
            Buy now &raquo;
