.row
  .col-md-6.col-md-push-3.col-sm-8.col-sm-push-2.col-xs-12
    .panel.panel-success
      .panel-heading
        %h3.panel-title.text-center
          Decision<em>Flex</em> 30% Off Pre-Launch Sale
      .panel-body
        %p
          Buy direct for a discount, and recieve future updates for free.
        %p
          The sale will end once Decision<em>Flex</em> launches on the Asset Store!
        %p
          If you'd prefer, sign up <a href="#signup">here</a> to find out when it's available on the Asset Store.
        .text-center
          %a.btn.btn-large.paddle_button{:href => "#", "data-product" => "496269", :role => "button"}
            Buy now &raquo;
