/ Begin MailChimp Signup Form
.row
  %a{:id => "signup"}
  .col-sm-4
    %p.text-muted
      = desc
  .col-sm-8
    %form#mc-embedded-subscribe-form.validate{:action => "//tenpn.us7.list-manage.com/subscribe/post?u=07ac0637333686a32ac58fc38&amp;id=6834472875",
                                              :method => "post",
                                              :name => "mc-embedded-subscribe-form",
                                              :novalidate => "",
                                              :target => "_blank"}
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{:style => "position: absolute; left: -5000px;"}
        %input{:name => "b_07ac0637333686a32ac58fc38_6834472875",
               :tabindex => "-1",
               :type => "text",
               :value => ""}/
      .input-group.input-group-lg
        %input.form-control{:name => "EMAIL",
                            :placeholder => "you@example.com",
                            :required => "",
                            :type => "email",
                            :value => ""}
        %span.input-group-btn
          %button.btn.btn-primary{:name => "subscribe",
                                  :type => "submit",
                                  :value => "Subscribe"}
            Subscribe
/ End mc_embed_signup
