---
title: DecisionFlex
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    .text-info
      %h1
        Decision<em>Flex</em>
    %p
      Simple to use, emergent decision making in Unity3D

.container

  = partial('signup', :locals => {:desc => "Decision<em>Flex</em> isn't out yet. Sign up to our newsletter and we'll let you know the second it's available."})

  %hr
  .row
    .col-md-12
      %h1.text-center
        What does Decision<em>Flex</em> do?
  .row
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/iperson.png", :alt => "Eat Drink Work Exercise"}
      %p.text-center.lead 
        Sims-like simulated humans deciding if their next action is eat, drink, work, exercise or sleep
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/solider.png", :alt => "Targets"}
      %p.text-center.lead 
        Soliders choosing the next target to attack, and with what weapon, considering weapon effectiveness, target range, and ammo count
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/bots.png", :alt => "Bot health pickup"}
      %p.text-center.lead 
        Bots deciding if now is a good time to pick up a health pack, depending on distance to the pack and current health
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/anything.png", :alt => "Anything!"}
      %p.text-center.lead 
        Anywhere you need to make a decision between multiple actions, based on many considerations, Decision<em>Flex</em> will make it easy

  %hr
  .row
    .col-md-12
      %h1.text-center
        How does Decision<em>Flex</em> work?
  .row
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "http://placehold.it/1000x360", :alt => "Decisions"}
      %p.text-center.lead 
        Decision<em>Flex</em> helps model complex decisions, where mulitple <strong>considerations</strong> must be weighed before chosing a final <strong>action</strong>
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/tools.png",
                          :alt => "Hierarchy and animation curve tools"}
      %p.text-center.lead 
        It uses <strong>familiar Unity editor tools</strong>, including the hierarchy window and animation curves, in an intuitive manner
    .clearfix.visible-sm-block
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/codeeq.png", :alt => "Minimal code, no equations"}
      %p.text-center.lead 
        Decision<em>Flex</em> is easy to connect to your game, with <strong>minimal scripting</strong>. It requires <strong>no</strong> complex math equations
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "http://placehold.it/1000x360", :alt => "Focused"}
      %p.text-center.lead 
        It uses "utility theory" to produce <strong>emergent and human-like</strong> decisions, and is easily tweaked from the editor to get exactly right

.container
  %hr
  .row
    .col-md-12
      %h1.text-center
        Is there a Decision<em>Flex</em> web demo?
  .row
    .col-md-12
      %p.lead.text-center
        Yes! You can find a demo of Decision<em>Flex</em> running in the browser beyond <a href="DecisionFlexDemo.html">this link</a>.
  %hr
  = partial('signup', :locals => {:desc => "Decision<em>Flex</em> isn't out yet. Sign up to our newsletter and we'll let you know the second it's available."})

  %hr
  .row
    .col-md-12
      %h1.text-center
        What does Decision<em>Flex</em> look like in action?
  .row
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/hierarchy-shot.png", :alt => "Hierarchy of multiple decisions"}
        .caption
          %h3
            Hierarchy
          %p.lead
            The hierarchy lays out the decision, its actions, and the considerations for each action. It's easy to construct and read.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/considerations-shot.png", :alt => "Animation curves weighing considerations"}
        .caption
          %h3
            Considerations
          %p.lead
            Tell Decision<em>Flex</em> how to weigh the factors influencing each action. Use animation curves to easily compare apples to oranges. No complex maths necessary.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/docs-shot.png", :alt => "Fast and smooth"}
        .caption
          %h3
            Examples, tutorials and documentation
          %p.lead
            Comes with three wide-ranging example scenes, a tutorial and comprehensive documentation to get you up and running as fast as possible.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/optimised-header.png", :alt => "Fast and smooth"}
        .caption
          %h3
            Optimised
          %p.lead
            Decision<em>Flex</em> runs fast with no allocations out of the box. It copes with pooling. It has tools to timeslice decisions for predictiability and budgeting. 
      
  %hr
  = partial('signup', :locals => {:desc => "Decision<em>Flex</em> isn't out yet. Sign up to our newsletter and we'll let you know the second it's available."})


.container
  %hr  
  %footer
    %p
      &copy; Andrew Fray 2014
    No designed by <a href="http://www.thenounproject.com/ricardo.cherem">Ricardo Augusto Cherem</a>. Calculator designed by <a href="http://www.thenounproject.com/rutmer">Rutmer Zijlstra</a>. Css designed by <a href="http://www.thenounproject.com/dreamer810">Qing Li</a>. Graph designed by <a href="http://www.thenounproject.com/MisterPixel">Mister Pixel</a>. Flow Chart designed by <a href="http://www.thenounproject.com/ales.kalan.zlatoroh">Aleš Kalan</a>. Dumbbell designed by <a href="http://www.thenounproject.com/alesantander">Alejandro Santander</a>. Work designed by <a href="http://www.thenounproject.com/thisisjaclyne">Jaclyne Ooi</a>. M16 designed by <a href="http://www.thenounproject.com/nadav.barkan">Nadav Barkan</a>. Targets designed by <a href="http://www.thenounproject.com/hayden.kerrisk">Hayden Kerrisk</a>. First Aid designed by <a href="http://www.thenounproject.com/thibault.geffroy">Thibault Geffroy</a>. All from the <a href="http://www.thenounproject.com">Noun Project</a>. 
