---
title: DecisionFlex
layout: unitylayout
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    %h1
      Decision<em>Flex</em>
    %p
      Utility theory tools for Unity3D.
    %p
      Let your AI make smarter decisions. Let your designers inform those decisions. Let your code run fast and alloc-free.

.container

  = partial "signup"

  %hr.top70

  / features
  .row
    .col-md-6.col-md-push-3
      %h1.text-center
        What is Decision<em>Flex</em>?
  .row
    .col-sm-6
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Decisions"}
      %h2.text-center
        Decisive
      %p.text-center.lead 
        Should the <em>sim</em>ulated person eat or drink next? What target should the AI shoot at? Should the sports team consolidate the lead or go for broke?
    .col-sm-6
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %h2.text-center
        Focused
      %p.text-center.lead 
        A tool, not a framework. Let Decision<em>Flex</em> decide when to transition in a state machine. Let Decision<em>Flex</em> inform the weights of steering behaviours. Have an isolated decision? Decision<em>Flex</em> is just as happy by itself.
  %hr
  .row
    .col-md-6.col-md-push-3
      %h1.text-center
        Designer-focused
  .row
    .col-sm-6
      %img.img-responsive{:src => "images/designer-friendly-header.png",
                          :alt => "Easy to learn"}
      %h2.text-center
        Easy to learn
      %p.text-center.lead 
        Decision<em>Flex</em> is built upon known tools like the hierarchy window and animation curves, so designers don't have to learn new UI. It requires no equations or heavy maths.
    .col-sm-6
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %h2.text-center
        Components
      %p.text-center.lead 
        Build decisions out of lego-brick components. How often should decisions be made? How should the best action be judged? 
  %hr
  .row
    .col-md-6.col-md-push-3
      %h1.text-center
        Programmer-friendly
  .row
    .col-sm-6
      %img.img-responsive{:src => "images/optimised-header.png",
                          :alt => "Optimised"}
      %h2.text-center
        Optimised
      %p.text-center.lead 
        Decision<em>Flex</em> is, out of the box, fast and allocation-free, so it can work at large scale. It also comes with tools to schedule and timeslice decisions, to give you fine control.
    .col-sm-6
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %h2.text-center
        Engineered
      %p.text-center.lead 
        Decision<em>Flex</em> is open for extension. Write new context containers, schedule decisions at your own pace, or add new custom considerations.

  %hr
  = partial "signup"

  %hr

  .row
    .col-md6-mcol-md-push3.well.unityPlayer
      .content{:id => "unityPlayer"}
        .missing
          %a{:href => "http://unity3d.com/webplayer/", 
             :title => "Unity Web Player. Install now!"}
            %img{:alt => "Unity Web Player. Install now!", 
                 :src => "http://webplayer.unity3d.com/installation/getunity.png", 
                 :width => "193", :height => "63"}
  %footer
    %p
      &copy; Andrew Fray 2014
