---
title: DecisionFlex
layout: unitylayout
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    .text-info
      %h1
        Decision<em>Flex</em>
    %p.lead
      Simple to use, emergent decision making in Unity3D
    %p
      %a.btn.btn-large.btn-info{:href => "#buy", :role => "button"}
        Buy
      %a.btn.btn-large.btn-info{:href => "#demos", :role => "button"}
        Demos

.container

  .row
    .col-md-5.col-md-push-7
      %img.img-responsive.img-thumbnail.center-block{:src => "http://placehold.it/350x250"}
    .col-md-7.col-md-pull-5
      %h3
        Does your AI have to choose between many actions any one time?
      %p.lead
        Run to cover, fall back, shoot, or pick up health, depending on location, player actions, and health?
      %p.lead
        Eat, drink, work, exercise, or sleep, depending on AI thirst, hunger, wealth and fitness?
      %p.lead
        Align the player with one of several factions, depending on player action time and location? ...

  %hr
        
  .row
    .col-md-5
      %img.img-responsive.img-thumbnail.center-block{:src => "http://placehold.it/350x250"}
    .col-md-7
      %h3
        Are you satisfied with your AI implementation?
      %p.lead
        Is it a mess of special-case nested if-else statements, or a tangle of state transitions?
      %p.lead
        Is it time-consuming to maintain and balance? Is it buggy and hard to understand?

  %hr

  .row
    .col-md-5.col-md-push-7
      %img.img-responsive.img-thumbnail.center-block{:src => "http://placehold.it/350x250"}
    .col-md-7.col-md-pull-5
      %h3
        Delete all that code! Decision<em>Flex</em> for Unity can help!
      %p.lead
        Decision<em>Flex</em> great at making emergent and human-like AI. It is quick to integrate, with minimal code, full tutorial, and docs. You don't need to understand any complex maths to use it.
      %p.lead
        Decision<em>Flex</em> is easy to balance and maintain, using tools you know like the hierarchy and animation curves. It is based on Utility Theory, an increasingly popular approach to decision making.
  %br
  %br

  %a{:id => "demos"}
  .row
    .col-md12
      %h1.text-center
        Is there a Decision<em>Flex</em> demo?
  .row
    .col-xs-12.visible-xs.visible-sm
      %p.text-center
        (Yes, but only on wider desktop browsers)
    .content.hidden-xs.hidden-sm{:id => "unityPlayer"}
      .missing
        %a{:href => "http://unity3d.com/webplayer/", :title => "Unity Web Player. Install now!"}
          %img{:alt => "Unity Web Player. Install now!", :src => "http://webplayer.unity3d.com/installation/getunity.png", :width => "193", :height => "63"}
                
  .row
    .col-md-12
      %h1.text-center
        What does Decision<em>Flex</em> look like in action?
  .row
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/hierarchy-shot.png", :alt => "Hierarchy of multiple decisions"}
        .caption
          %h3
            Hierarchy
          %p.lead
            The hierarchy lays out the decision, its actions, and the considerations for each action. It's easy to construct and read.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/considerations-shot.png", :alt => "Animation curves weighing considerations"}
        .caption
          %h3
            Considerations
          %p.lead
            Tell Decision<em>Flex</em> how to weigh the factors influencing each action. Use animation curves to easily compare apples to oranges. No complex maths necessary.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/docs-shot.png", :alt => "Fast and smooth"}
        .caption
          %h3
            Source code, examples, and documentation
          %p.lead
            Comes with the full DF C# source, three wide-ranging example scenes, a <a href="df-v1.0/tutorial.html">tutorial</a> and <a href="df-v1.0/index.html">comprehensive documentation</a> to get you up and running as fast as possible.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/optimised-header.png", :alt => "Fast and smooth"}
        .caption
          %h3
            Optimised
          %p.lead
            Decision<em>Flex</em> runs fast with no allocations out of the box. It copes with pooling. It has tools to timeslice decisions for predictiability and budgeting. 

  %a{:id => "buy"}
  = partial 'paddlepurchase'
  = partial('signup', :locals => {:desc => "Sign up to our newsletter if you'd like to know about future products from TenPN."})

.container
  %footer
    %p
      &copy; Andrew Fray 2014
    Heartbeat designed by <a href="http://www.thenounproject.com/jardson">Jardson A.</a>. Plant designed by <a href="http://www.thenounproject.com/prerakpatel">Prerak Patel</a>. Wrench designed by <a href="http://www.thenounproject.com/tgines">Tony Gines</a>. Gears designed by <a href="http://www.thenounproject.com/crisdobbins">Cris Dobbins</a>. No designed by <a href="http://www.thenounproject.com/ricardo.cherem">Ricardo Augusto Cherem</a>. Calculator designed by <a href="http://www.thenounproject.com/rutmer">Rutmer Zijlstra</a>. Css designed by <a href="http://www.thenounproject.com/dreamer810">Qing Li</a>. Graph designed by <a href="http://www.thenounproject.com/MisterPixel">Mister Pixel</a>. Flow Chart designed by <a href="http://www.thenounproject.com/ales.kalan.zlatoroh">Aleš Kalan</a>. Dumbbell designed by <a href="http://www.thenounproject.com/alesantander">Alejandro Santander</a>. Work designed by <a href="http://www.thenounproject.com/thisisjaclyne">Jaclyne Ooi</a>. M16 designed by <a href="http://www.thenounproject.com/nadav.barkan">Nadav Barkan</a>. Targets designed by <a href="http://www.thenounproject.com/hayden.kerrisk">Hayden Kerrisk</a>. First Aid designed by <a href="http://www.thenounproject.com/thibault.geffroy">Thibault Geffroy</a>. All from the <a href="http://www.thenounproject.com">Noun Project</a>. 
