---
title: DecisionFlex
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    .text-info
      %h1
        Decision<em>Flex</em>
    %p
      Simple to use, emergent decision making in Unity3D

.container

  = partial "signup"

  %hr
  .row
    .col-md-12
      %h1.text-center
        What is Decision<em>Flex</em>?
  .row
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Decisions"}
      %p.text-center.lead 
        Decision<em>Flex</em> helps model complex decisions, where mulitple <strong>considerations</strong> must be weighed before chosing a final <strong>action</strong>
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/tools.png",
                          :alt => "Hierarchy and animation curve tools"}
      %p.text-center.lead 
        It uses <strong>familiar Unity editor tools</strong>, including the hierarchy window and animation curves, in an intuitive manner.
    .clearfix.visible-sm-block
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %p.text-center.lead 
        Decision<em>Flex</em> is easy to connect to your game, with <strong>minimal scripting</strong>. It requires <strong>no</strong> complex math equations.
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %p.text-center.lead 
        It uses "utility theory" to produce <strong>emergent and human-like</strong> decisions, and is easily tweaked from the editor to get exactly right

  %hr
  .row
    .col-md-12
      %h1.text-center
        Where is Decision<em>Flex</em> useful?
  .row
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/iperson.png",
                          :alt => "Eat Drink Work Exercise"}
      %p.text-center.lead 
        Sims-like simulated humans, deciding their next action. Should they drink, work, exercise or rest?
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/solider.png",
                          :alt => "Targets"}
      %p.text-center.lead 
        Soliders choosing the next target to attack, and with what weapon, taking into account weapon effectiveness, target range, and ammo count.
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/bots.png",
                          :alt => "Bot health pickup"}
      %p.text-center.lead 
        Bots deciding if now is a good time to pick up a health pack, depending on distance to the health pack and current health.
    .col-sm-6.col-lg-3
      %img.img-responsive{:src => "images/anything.png",
                          :alt => "Anything!"}
      %p.text-center.lead 
        Anywhere you need to make a decision between multiple actions, based on the interaction of many considerations

.container
  %hr
  .row
    .col-md-12
      %h1.text-center
        Is there a Decision<em>Flex</em> web demo?
  .row
    .col-md-12
      %p.lead.text-center
        You can find a demo of Decision<em>Flex</em> running in the browser beyond <a href="DecisionFlexDemo.html">this link</a>.
  %hr
  = partial "signup"


.container
  %hr  
  %footer
    %p
      &copy; Andrew Fray 2014
    Graph designed by <a href="http://www.thenounproject.com/MisterPixel">Mister Pixel</a>. Flow Chart designed by <a href="http://www.thenounproject.com/ales.kalan.zlatoroh">Aleš Kalan</a>. Dumbbell designed by <a href="http://www.thenounproject.com/alesantander">Alejandro Santander</a>. Work designed by <a href="http://www.thenounproject.com/thisisjaclyne">Jaclyne Ooi</a>. M16 designed by <a href="http://www.thenounproject.com/nadav.barkan">Nadav Barkan</a>. Targets designed by <a href="http://www.thenounproject.com/hayden.kerrisk">Hayden Kerrisk</a>. First Aid designed by <a href="http://www.thenounproject.com/thibault.geffroy">Thibault Geffroy</a>. All from the <a href="http://www.thenounproject.com">Noun Project</a>. 
