---
title: DecisionFlex
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    %h1
      Decision<em>Flex</em>
    %p
      Let your AI make smarter decisions. Let your designers inform those decisions. Let your code run fast and alloc-free.
.container

  = partial "signup"
  %hr

  / features
  .row
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Focused"}
      %h2.text-center
        Focused
      %p.text-center 
        Decision<em>Flex</em> does one thing really well: it weighs up all the options in the context of the current situation, and makes a considered choice. No fluff, no sprawling frameworks that takes over your codebase. 
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Flexible"}
      %h2.text-center
        Flexible
      %p.text-center 
        Decision<em>Flex</em> works, whatever your game. Should your simulated person eat or drink next? What target should the AI shoot next? Should the football team consolidate the lead or go for broke? Even non-opponent roles, like player modeling!
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Designer-Friendly"}
      %h2.text-center
        Designer-friendly
      %p.text-center 
        Decision<em>Flex</em> is built upon the hierarchy window and animation curves, so designers don't have to learn new tools. A programmer can easily expose variables that allow the designer to construct their own decisions. 


  %hr.top70
  
  .row.top70
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Optimised"}
      %h2.text-center
        Optimised
      %p.text-center
        Decision<em>Flex</em> is, out of the box, fast and allocation-free, so it can work at large scale. It also comes with tools to schedule and timeslice decisions, to give you fine control.
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Extendable"}
      %h2.text-center
        Extendable
      %p.text-center
        Decision<em>Flex</em> is open for extension. Write new context containers, schedule decisions at your own pace, or add new custom considerations.
    .col-sm-4
      %img.img-responsive{:src => "http://placehold.it/1000x360",
                          :alt => "Professionally Developed"}
      %h2.text-center
        Professionally Developed
      %p.text-center
        Decision<em>Flex</em> is namespaced, to avoid polluting your codebase. It has a public bugs list. Updates will include release notes and upgrade paths. It uses semantic versioning.

  %hr
  = partial "signup"
  %hr

  %footer
    %p
      &copy; Company 2014
