---
title: DecisionFlex
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    %h1
      Decision<em>Flex</em>
    %p
      Let your AI make smarter decisions. Let your designers inform those decisions. Let your code run fast and alloc-free.
.container

  / MailChimp Signup Form 
  .row
    .col-md-4 
      %p.text-muted
        Decision<em>Flex</em> is not available to buy yet. Sign up to our newsletter to stay informed.
    .col-md-8
      .input-group.input-group-lg
        %input.form-control{:type => "text", :placeholder => "you@example.com"}
        %span.input-group-btn
          %button.btn.btn-primary{:type => "submit"}
            Sign up
  %hr

  / features
  .row
    .col-md-4
      %h2
        Focused
      %p 
        Decision<em>Flex</em> does one thing really well: it weighs up all the options in the context of the current situation, and makes a considered choice. No fluff, no sprawling frameworks that takes over your codebase. 
    .col-md-4
      %h2
        Designer-friendly
      %p 
        Decision<em>Flex</em> is built upon the hierarchy window and animation curves, so designers don't have to learn new tools. A programmer can easily expose variables that allow the designer to construct their own decisions. 
    .col-md-4
      %h2
        Flexible
      %p 
        Decision<em>Flex</em> works, whatever your game. Should your simulated person eat or drink next? What target should the AI shoot next? Should the football team consolidate the lead or go for broke? Even non-opponent roles, like player modeling!

  .row
    .col-md-4
      %h2
        Optimised
      %p
        Decision<em>Flex</em> is, out of the box, fast and allocation-free, so it can work at large scale. It also comes with tools to schedule and timeslice decisions, to give you fine control.
    .col-md-4
      %h2
        Extendable
      %p
        Decision<em>Flex</em> is open for extension. Write new context containers, schedule decisions at your own pace, or add new custom considerations.
    .col-md-4
      %h2
        Professionally Developed
      %p
        Decision<em>Flex</em> is namespaced, to avoid polluting your codebase. It has a public bugs list. Updates will include release notes and upgrade paths. It uses semantic versioning.

  %hr

  %footer
    %p
      &copy; Company 2014
