---
title: TenPN.com
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container
    .text-info
      %h1
        TenPN
    %p
      Video game engine plugins and technology

.container
  .row
    .col-sm-6
      %h2
        DecisionFlex
      %p.lead
        A designer-friendly decision-making AI plugin for Unity. Delete your if-else blocks and let DecisionFlex weigh all the options.
      %p
        %a.btn.btn-primary{:href => "DecisionFlex.html", :role => "button"}
          View details &raquo;
    .col-sm-6
      %h2
        SpriteFlex
      %p.lead
        Procedurally generate sprites from individual parts. With free art for avatars.
      %p
        %a.btn.btn-primary{:href => "SpriteFlex.html", :role => "button"}
          View details &raquo;
  .row
    .col-sm-6
      %h2
        Blog
      %p.lead
        Posts on game development, artificial intelligence, and updates on TenPN plugins from Andrew Fray
      %p
        %a.btn.btn-default{:href => "http://andrewfray.wordpres.com", :role => "button"}
          Visit &raquo;
    .col-sm-6
      %h2
        Contact
      %p.lead
        For feedback, questions, enquiries and anything else that fills up this paragraph to roughly the right length
      .row
        .col-xs-3.col-sm-6
          %p
            %a.btn.btn-default.btn-block{:href => "http://www.twitter.com/tenpn", :role => "button"}
              Twitter &raquo;
        .col-xs-3.col-sm-6
          %p
            %a.btn.btn-default.btn-block{:href => "mailto:andrew.fray@gmail.com", :role => "button"}
              Email &raquo;

  %hr
  = partial('signup', :locals => {:desc => "Sign up to our newsletter for updated on new products"})
      
  %hr

  %footer
    %p
      &copy; Andrew Fray 2014
