---
title: Thank you!
---

.jumbotron
  .container
    .text-info
      %h1
        Thank you!
    %p
      For signing up to the TenPN.com mailing list. We will keep you informed of updates and news. We promise not to spam you too often.
    %p
      %a.btn.btn-primary.btn-lg{:href => "index.html", :role => "button"}
        Home
