---
title: SpriteFlex
layout: unitylayout
---

/ Main jumbotron for a primary marketing message or call to action 
.jumbotron
  .container 
    .text-info
      %h1
        Sprite<em>Flex</em>
    %p.lead
      Procedurally generate portraits, icons and more
    %p
      %a.btn.btn-large.btn-info{:href => "#buy", :role => "button"} 
        Buy

.container

  .row
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/sf-variations.png", :alt => ""}
        .caption
          %h3
            Unlimited Variety, Limited Effort
          %p.lead
            Sprite<em>Flex</em> creates millions of variations at runtime of whatever you like - portraits, whole characters, vehicles
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/sf-components.png", :alt => "Per-sprite components of a single paper doll"}
        .caption
          %h3
            Sprite Parts
          %p.lead
            You just need to provide sprites - or use the ones already in this package.
  .row
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/sf-setup.png", :alt => "Fast and smooth"}
        .caption
          %h3
            Putting It Together
          %p.lead
            Tell Sprite<em>Flex</em> about your sprite parts using our components. Let it put everything together at runtime. Full scripting control over the process, if you need it.
    .col-md-6
      .thumbnail
        %img.img-responsive{:src => "images/sf-prefabs.png", :alt => "Avatars ready to go"}
        .caption
          %h3
            Portrait bundle included
          %p.lead
            Sprite<em>Flex</em> comes with everything you need for shipping the procedural portraits you've seen here, including sprites and prefabs.

  %a#buy
  -# = partial 'paddlepurchase'
  .row
    .col-md-6
      %p.lead
        Sprite<em>Flex</em> isn't quite ready for sale yet - check back soon!
  = partial('signup', :locals => {:desc => "Sign up to our newsletter if you'd like to know about future products from TenPN"})
  
.container
  %footer
    %p
      &copy; Andrew Fray 2017+
    Flow Chart designed by <a href="http://www.thenounproject.com/ales.kalan.zlatoroh">Aleš Kalan</a>. Arrows designed by <a href="http://thenounproject.com/bravo/">Jaun Pablo Bravo</a>. All from the <a href="http://www.thenounproject.com">Noun Project</a>. 
